/* BIG Website */

html {
    background-color: #ccc;
    
}

main {
    background-color: #fff;
    width: 80%;
    overflow: auto;
    border: 1px solid black;
    margin: auto;
   
    
    
    
}

h1 {
    text-align: center;
    
    
}

h1 a {
    text-decoration: none;
    color: forestgreen;
    
    
 
}

h2 {
    color: forestgreen;
    padding: 10px;
}

h3 {
    color: forestgreen;
}
.fullwidth {
    width:100%;
}
section {
    float: left;
    width: 65%;
    
}

aside {
    float: right;
    width: 34%;
    
}

dt {
    font-weight: bold;
}

footer {
    padding: 1em;
    
    text-align: center;
    clear: both;
        
}

p {
    text-indent: 20px;
}

ul {
    list-style: none;
    padding: 0 0 0 45px;
}

.a {
    list-style: disc;
    
}

.b {
    
    text-align: left;
}


img {
    width: 100%;
    border: 1px solid #000; /* width style color */
}

div.gallery {
    text-align: center;
}

figure {
    display: inline-block;
    margin: .25%;
}

/* START - EMBED RESPONSIVELY STYLES */
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; }

.embed-container iframe { 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

/* END- EMBED RESPONSIVELY STYLES */

/*HIDE AGENDA VIEW CALENDAR */
div.embed-container.agenda-view {
    display: none;
}




/* MOBILE STYLES */

@media all and (max-width:600px) {
    
    main { 
        width: 100%;
    }
    
    section {
        float: none;
        width: 100%;        
}

    aside {
        float: none;
        width: 100%;     
    }
    
}

/* CALENDAR RULES for PHONE */
@media all and (max-width:1024x) {
    
    /* Show AGENDA View Calendar */
    div.embed-container.agenda-view {
        display: block;
    }

    /* Hide MONTH View Canendar */
    div.embed-container.month-view {
        display: none;
    }
}


